---
# ------------------------------------------------------- #
# This playbook will connect to CVaaS and generate an 
# onboarding token then push the token to target devices
# and start terminattr.
# The target devices will be onboarded in CVaaS.
# ------------------------------------------------------- #
# Comment out this entire section if you already have an
# onboarding token generated
# - hosts: localhost
#   gather_facts: false
#   vars:
#     cvaas_url: www.cv-prod-us-central1-c.arista.io # Change to your CVaaS URL
#     # service account token for CVaaS
#     cvaas_service_token: "{{lookup('file', '../inventory/global_vars/onboarding_token')}}"
#   tasks:
#   - debug:
#       var: cvaas_service_token
#   # Generate token for CVaaS cluster
#   - name: "Generating TerminAttr onboarding token on CVaaS"
#     tags: [build]
#     ansible.builtin.uri:
#       url: "https://{{cvaas_url}}/api/v3/services/admin.Enrollment/AddEnrollmentToken"
#       method: POST
#       headers:
#         Accept: "application/json"
#         Cookie: "access_token={{ cvaas_service_token }}"
#       validate_certs: no
#       return_content: yes
#       body: '{"enrollmentToken": {"reenrollDevices": ["*"], "validFor": "720h"}}'
#     register: cv_onboarding_token
#     until: cv_onboarding_token.status == 200
#     retries: 10
#     delay: 2
#   # Writing cvaas token to file
#   - name: "Parsing CVaaS token"
#     tags: [build]
#     set_fact:
#       cv_onboarding_token: "{{ cv_onboarding_token.content | list | join }}"
#   - name: "Writing CVaaS token to file"
#     tags: [build]
#     copy:
#       content: "{{ cv_onboarding_token[0].enrollmentToken.token }}"
#       dest: "./cvaas-token.tok"
#

- name: Onboard devices to CVaaS
  hosts: VEOS # Change to your value from inventory file
  gather_facts: false
  vars:
    ansible_user: cvpadmin # Change to a valid username on EOS devices
    ansible_password: arista123 # Change to a valid password on EOS devices
    ansible_connection: httpapi
    ansible_httpapi_use_ssl: True
    ansible_httpapi_validate_certs: False
    ansible_network_os: eos
    ansible_httpapi_port: 443
    ansible_python_interpreter: $(which python3)
    cvaas_api_url: arista.io # Change to your CVaaS API URL if needed
    terminattr_vrf: default # Change this if TerminiAttr needs to use another VRF
  tasks:
  - name: "Copy onboarding token and start the TerminAttr daemon"
    tags: [onboard]
    ansible.builtin.uri:
      url: "https://{{ansible_user}}:{{ansible_password}}@{{hostvars[inventory_hostname].ansible_host}}/command-api"
      method: POST
      headers:
        Accept: "application/json"
      validate_certs: no
      return_content: yes
      force_basic_auth: true
      body:
        jsonrpc: "2.0"
        method: "runCmds"
        params:
          version: 1
          cmds:
          - "enable"
          - cmd: "copy terminal: file:/tmp/cv-onboarding-token"
            input: "{{lookup('file', '../inventory/global_vars/onboarding_token')}}"
          - "configure"
          - "daemon TerminAttr"
          - "shutdown"
          - "exec /usr/bin/TerminAttr -cvaddr=apiserver.{{cvaas_api_url}}:443 -cvauth=token-secure,/tmp/cv-onboarding-token -cvvrf={{terminattr_vrf}} -smashexcludes=ale,flexCounter,hardware,kni,pulse,strata -ingestexclude=/Sysdb/cell/1/agent,/Sysdb/cell/2/agent -taillogs -disableaaa"
          - "no shutdown"
          format: json
          timestamps: false
          autoComplete: false
          expandAliases: false
          stopOnError: false
          streaming: false
          includeErrorDetail: false
        id: EapiExplorer-1
      body_format: json
    register: cv_onboarding_token
    until: cv_onboarding_token.status == 200
    retries: 10
    delay: 2
