---
- name: Manage Arista EOS EVPN/VXLAN Configuration
  hosts: "HCA"
  connection: local
  gather_facts: false
  collections:
    - arista.avd
    - arista.cvp
  tasks:
    - name: generate intended variables
      tags:
        - "build"
        - "generate"
        - "deploy"
      import_role:
        name: arista.avd.eos_designs

    - name: generate device intended config and documentation
      tags:
        - "build"
        - "generate"
        - "deploy"
      import_role:
        name: eos_cli_config_gen

- name: Configuration deployment
  hosts: "HCA"
  tags:
    - "deploy"
  connection: local
  gather_facts: false
  tasks:
    - name: Deploy configurations and tags to CloudVision
      ansible.builtin.import_role:
        name: arista.avd.cv_deploy
      vars:
        cv_server: "www.cv-staging.corp.arista.io"
        cv_token: "{{lookup('file', '../inventory/global_vars/cv.token')}}"
        cv_verify_certs: false
        cv_configlet_name_template: "AVD_${hostname}"
        cv_skip_missing_devices: true
